<div style="display: block; width: 600px; margin-left: 30%">

    <h2>{{ form.form_name }}</h2>

    <div class="field row"></div>
    <form name="myForm" id="myForm">
        <div ng-repeat="field in form.form_fields">
            <field-directive on-field-render="controlType" field="field">
            </field-directive>
        </div>
    </form>


    <div class="form-actions">
        <p class="text-center">
            <button class="btn btn-success right" type="button" ng-disabled="!myForm.$valid" ng-click="submit()"><i
                    class="icon-edit icon-white"></i> Submit Form
            </button>
            <button class="btn btn-danger right" type="button" ng-click="cancel()"><i
                    class="icon-remove icon-white"></i>
                Cancel
            </button>
        </p>
    </div>

</div>
<hr/>
