.field input,.my-datepicker-btn{
    height: 30px;
}
.k-grid-edit_user{
    content: url("../img/form.png");
    height: 70px;
    width: 90px;
}
.k-grid-delete{
    width: 90px;
}
.k-pager-nav span{
    margin: 6px;
}
/*============================================List View====================================================*/
.list-view {
    float: left;
    position: relative;
    height: 250px;
    width: 49.8%;
    min-width: 20%;
    box-sizing: border-box;
    border-top: 0;
    overflow: scroll;
}

#listView{
    display: block;
    min-width: 1000px;

}
#pager{
    min-width: 1000px;
}
/*=========================================================================================================*/